

table,tr,th, td{
    border: 1px solid white;
}
table
{
    color:rgb(255, 255, 255);
    border-color:#fff;
    border-collapse: collapse;
    text-align: center;
    background: linear-gradient(125deg,#000000,#454545);
}


button{
    position: relative;
    display:inline-flex;
    padding: 12px 36px;
    margin:10px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,rgb(6 9 22), rgb(195 195 195));
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
    background: url('background4.jpg');
}
label
{
    color:#fff;
}
h3
{
    color:#fff;
}
.Input
{
    display:inline-block;
    float:left;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}

.Forma{
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0.5rem;
    align-items:flex-start;
    margin: 0.5rem;
    border: 5x white;
}